
.poem-body {
    font-family: serif;
    font-size: 120%;
    line-height: 120%;
    color: black;
}

blockquote{
    position:relative;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 40px;
    padding-right: 40px;
    border-left:none;
    display:inline-block;
    letter-spacing:0px;
}

blockquote:before,
blockquote:after{
    content: '“';
    font-size:80px;
    position:absolute;
    top:0px;
    left:0px;
    line-height:1em;
    font-family:"Droid Serif", serif;
    font-style:italic;
    color:#4284d3;
    height:0;
    width:0;
}
blockquote:after{
    content: '”';
    position:relative;
    float:right;
    margin-top:-10px;
    margin-right:10px;
}

blockquote cite {
color: #062270;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
